<div class="attributes">
  <div>
    <div>Accession ID</div>
    <div>accession</div>
  </div>
  <div>
    <div>Test Product Code</div>
    <div>productCode</div>
  </div>
  <div>
    <div>Age</div>
    <div>age</div>
  </div>
  <div>
    <div>Sex</div>
    <div>sex</div>
  </div>
  <div>
    <div>Ethnicity</div>
    <div>ethnicity</div>
  </div>
  <div>
    <div>Diagnosis</div>
    <div>diagnosis</div>
  </div>
</div>
<div>{{$ctrl.test.name}}</div>
<ul>
  <li>
    <a ui-sref="test.variants">Variant List</a>
  </li>
</ul>
<ui-view></ui-view>


